rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    //regras para os veiculos
    match /veiculos/{veiculoId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    //regras para os abastecimentos
    match /abastecimentos/{abastecimentoId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}
